<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/cookie.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>
  <body>
      
      <% include ./header %>

      <script type="text/javascript">
        var isModifyMode = false;
        var cookie;
        try {
          cookie = JSON.parse(getCookie().val);
        } catch (err) {
          console.error(err);
        }
        
        var listQuery = `{
          getPosts {
            id
            uid
            title
            createdAt
          }
        }`;

        $(document).ready(() => {
          // Hide unnecessary view first
          $('#detail_view').hide();
          $('#write_view').hide();

          // Hide detail view and show list
          $('#backTolist').click(() => { window.location.href='/' });

          $('#write').click(() => {
            // Clear title and content
            $('#title').val('');
            $('#content').val('');
            
            // Hide list and show write form
            $('#posts_view').hide();
            $('#write_view').show();
          });

          var title, content;
          $('#update').click(() => {
            isModifyMode = !isModifyMode;

            if(isModifyMode) {
              $('#update').html('Save');
              $('#delete').attr('disabled', true);

              title = $('#title').html();
              content = $('#content').html();

              $('#title').empty();
              $('#content').empty();

              $('#title').append(`
                <div class="input-group input-group-sm">
                  <input id='update_title' type="text" class="form-control" placeholder='Title' value='${title}'>
                </div>
              `);
              $('#content').append(`
                <div class="input-group input-group-sm">
                  <input id='update_content' type="text" class="form-control" placeholder='Content' value='${content}'>
                </div>
              `);
            }
            else {
              $('#update').html('Update');
              $('#delete').removeAttr('disabled');

              var utitle = $('#update_title').val();
              var ucontent = $('#update_content').val();
              
              $('#title').empty();
              $('#content').empty();

              var updateQuery = `mutation update {
                updatePost(pid: "${$('#id').html()}", token: "${cookie.token}", post: {
                  title: "${utitle}",
                  content: "${ucontent}"
                }) {
                  msg
                }
              }`;

              $.ajax({
                url: '/graphql?query=' + updateQuery,
                method: 'POST',
                success: (data) => {
                  if(data.data.updatePost.msg == 'failed') {
                    $('#title').html(title);
                    $('#content').html(content);
                  }
                  else {
                    $('#title').html(utitle);
                    $('#content').html(ucontent);
                  }
                  console.log(data);
                }
              });
            }
          });

          $('#cancel').click(() => {
            // Hide write form and show list
            $('#posts_view').show();
            $('#write_view').hide();
          });

          // Save button
          $('#save').click(() => {
            var title = $('#title').val();
            var content = $('#content').val();
            var writeQuery = `mutation write {
              writePost(post: {
                title: "${title}",
                content: "${content}"
              }, token: "${cookie.token}") {
                msg
              }
            }`;

            if(title != null && content != null) {
              $.ajax({
                url: '/graphql?query=' + writeQuery,
                method: 'POST',
                success: (data) => {
                  window.location.href = '/';
                }
              });
            }
          })

          // Delete button
          $('#delete').click(() => {
            var deleteQuery = `mutation delete {
              deletePost(pid: "${$('#delete').attr('_id')}", token: "${cookie.token}") {
                msg
              }
            }`;

            if(cookie.nickname === $('#delete').attr('uid')) {
              $.ajax({
                url: '/graphql?query=' + deleteQuery,
                type: 'POST',
                success: (data) => {
                  window.location.href = '/';
                }
              });
            }
            else {
              console.log('different')
            }
          });

          // Get list and show
          $.ajax({
            url: '/graphql?query=' + listQuery,
            method: 'GET',
            success: (data) => {
              var array = data.data.getPosts;
              for(var i=0; i<array.length; i++) {
                var date = new Date(array[i].createdAt);

                $('#contents').append(
                  '<tr><td scope="row"><a href="#" onclick=getPost("' + array[i].id + '")>' + array[i].title + '</a></td>'
                  + '<td>' + array[i].uid + '</td>'
                  + '<td>' + date.toLocaleDateString() + '</td>'
                  + '</tr>'
                )
              }
            }
          })
        })

        // Get single post and show
        function getPost(data) {
          $('#detail').empty();
          
          var detailQuery = `{
            getPost(id: "${data}") {
              id
              uid
              title
              content
              createdAt
            }
          }`;

          $.ajax({
            url: '/graphql?query=' + detailQuery,
            method: 'GET',
            success: (data) => {
              $('#posts_view').hide();
              $('#detail_view').show();
              $.each(data.data.getPost, (key, value) => {
                var val = value;
                if(key == "createdAt") val = new Date(val).toLocaleString();
                if(key === 'id') $('#delete').attr('_id', val);
                if(key === 'uid') $('#delete').attr('uid', val);
                $('#detail').append('<tr>' +
                    '<td scope="row">' + key + '</td>' +
                    '<td scope="row" id=' + key + '>' + val + '</td>' +
                    '</tr>');
              });
            }
          })
        }
      </script>

      <div class='container-fluid mt-5'>
        <div class='row' id='token_view'>
        </div>
        <div class='row' id='posts_view'>
            <table class='table table-striped table-bordered'>
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Date</th>
                  </tr>
                </thead>
                <tbody id='contents'>
                </tbody>
            </table>
            <button id='write' type="button" class="btn btn-dark">Write</button>
        </div>

        <div id='detail_view' class='row'>
            <table class='table table-striped table-bordered'>
                <thead>
                  <tr>
                    <th scope="col">Key</th>
                    <th scope="col">Value</th>
                  </tr>
                </thead>
                <tbody id='detail'>
                </tbody>
            </table>
            
            <button id='backTolist' type="button" class="btn btn-dark">Back to list</button>
            <button id='update' type="button" class="btn btn-primary ml-2">Update</button>
            <button id='delete' type="button" class="btn btn-danger ml-2">Delete</button>
        </div>

        <div id='write_view' class='row'>
            <div class="input-group input-group mb-3">
              <input id='title' type="text" class="form-control" placeholder='Title' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>

            <div class="input-group input-group mb-3">
              <input id='content' type="text" class="form-control" placeholder='Content' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>

            <button id='cancel' type="button" class="btn btn-danger">Cancel</button>
            <button id='save' type="button" class="btn btn-dark ml-2">Save</button>
        </div>

      </div>
  </body>
</html>
