<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>
  <body>
      <script type="text/javascript">
        function login() {
            var id = $('#id').val();
            var pw = $('#pw').val();
            if(id != "" && pw != "") {
                var query = `mutation {
                    login(id: "${id}", password: "${pw}") {
                        msg
                        nickname
                        token
                    }
                }`
                $.ajax({
                    url: '/graphql?query=' + query,
                    method: 'POST',
                    success: (result) => {
                        if(result.data.login.token != null) {
                            var expire = new Date();
                            expire.setMonth(expire.getMonth() + 1);
                            var cookieVal = {
                                nickname: result.data.login.nickname,
                                token: result.data.login.token
                            }
                            document.cookie = 'val=' + JSON.stringify(cookieVal) + '; expires=' + expire
                            window.location.href = '/';
                        }
                        else {
                            alert('ID or Password are incorrect!');
                        }
                    }
                })
            }
            else {
                alert('You need to fill out ID and Password!');
            }
        }
        
        function signUp() {
            var id = $('#sign_id').val();
            var pw = $('#sign_pw').val();
            var nickname = $('#nickname').val();
            if(id != "" && pw != "" && nickname != "") {
                var query = `mutation {
                    signUp(user: {
                        uid: "${id}",
                        password: "${pw}",
                        nickname: "${nickname}"
                    }) {
                        msg
                    }
                }`
                $.ajax({
                    url: '/graphql?query=' + query,
                    method: 'POST',
                    success: (result) => {
                        console.log(result);
                    }
                })
            }
            else {
                alert('You need to fill out ID, Password and Nickname!');
            }
        }
      </script>
      
      
      <% include ./header %>

      <div class='container-fluid mt-5'>
        <div class='row'>
            <h2>Login</h2>
            <div class='input-group'>
                <input id='id' type='text' class='form-control' placeholder='ID'/>
            </div>
            <div class='input-group'>
                <input id='pw' type='password' class='form-control' placeholder='Password'/>
            </div>
            <button id='login' class='btn btn-dark' onclick="login()">Login</button>
        </div>
        <div class='row mt-5'>
            <h2>Sign Up</h2>
            <div class='input-group'>
                <input id='sign_id' type='text' class='form-control' placeholder='ID'/>
            </div>
            <div class='input-group'>
                <input id='sign_pw' type='password' class='form-control' placeholder='Password'/>
            </div>
            <div class='input-group'>
                <input id='nickname' type='text' class='form-control' placeholder='Nickname'/>
            </div>
            <button id='signup' class='btn btn-success' onclick="signUp()">SignUp</button>
        </div>
      </div>
  </body>
</html>